{% extends '::layout.html.twig' %}

{% block body %}

<h3>Edit your planning</h3>

{% if error != '' %}
  <div class="alert alert-error">
	<p data-dismiss="alert">ERROR : {{ error }}</p>
  </div>
{% endif %}
{% if success != '' %}
  <div class="alert alert-success">
	<p data-dismiss="alert">{{ success }}</p>
  </div>
{% endif %}

<div >
    <h4> Current planning </h4>
    {% include 'EnsiieIaatoBundle:Iaato:view_planning.html.twig' with {'plannings': planning} %}
</div>


<div class="well">
{% for plann in planning %}
    <form action="{{ path('iaato_planning_edit', {'id': plann.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
    </form>
{% endfor %}
</div>

{% endblock %}