{% extends "::layout.html.twig" %}

{% block body %}
    <div id="sort_planning" >
    <a href="{{ path('iaato_planning', {'sort':'date'}) }}" > Sort by date</a>
    |
    <a href="{{ path('iaato_planning', { 'sort':'ship'}) }}" > Sort by ship</a>
    |
    <a href="{{ path('iaato_planning', { 'sort':'company'} ) }}" > Sort by company</a>
    |
    <a href="{{ path('iaato_planning', {'sort':'me'} ) }}"> My ship </a>
    </div>

    <table class="table table-hover table-bordered" style:";background-color:white;">
    <thead style="background-color:#49afcd">
    <tr>
        <th> Date </th>
        <th>  Ship </th>
        <th> Company </th>
        <th> Site 1</th>
        <th> Site 2</th>
        <th> Site 3</th>
        <th> Site 4</th>
	<th> Edit </th>
      </tr>
     </thead> 
    {% for planning  in plannings %}
      <tr>  
        <th> {{ planning.day | date('d-m-Y')  }} </th>
        <th> {{ planning.ship.getName()}} </th>
        <th> {{ planning.ship.company.getName() }} </th>
        <th> {{ planning.site1.getName() }} 
             <br> Duration: {{ planning.duration1 | date('H:i:s') }}  </th>
        <th> {{ planning.site2.getName() }}
             <br> Duration: {{ planning.duration2 | date('H:i:s') }}  </th>
        <th> {{ planning.site3.getName() }}
             <br> Duration: {{ planning.duration3 | date('H:i:s') }}  </th>
        <th> {{ planning.site4.getName() }}  
             <br> Duration: {{ planning.duration4 | date('H:i:s') }}  </th>
	{% if(app.user.ship == planning.ship) %}
	<th>	Edit </th>
	{% else %}
	<th> </th>
	{% endif %}
    {% endfor %}
    </table>
{% endblock %}
